<!-- addGoal.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Goal</title>
</head>
<body>
  <h1>Add Goal</h1>
  <form action="/v1/api/goals" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="target">Target (in minutes):</label>
    <input type="number" id="target" name="target" required>
    <br>
    <button type="submit">Add Goal</button>
    <button><a href="/v1/deleteGoal"> Delete Goal </a></button>
              <button><a href="/v1/updateGoal"> Update Goal </a></button>
  </form>
</body>
</html>
