<!-- deleteGoal.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Goal</title>
</head>
<body>
  <h1>Delete Goal</h1>

  <form action="/v1/api/deleteGoal" method="post">
    <label for="goalId">Select Goal ID:</label>
    <select id="goalId" name="goalId" required>
     
      <% goals.forEach(goal => { %>
        <option value="<%= goal._id %>"><%= goal.name %> - <%= goal._id %></option>
      <% }); %>
    </select>
    
    <button type="submit">Delete Goal</button>
  </form>


</body>
</html>
