

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Names and Content</title>
  <style>
   
    .app-json-section {
      margin-top: 20px;
    }

    .app-file-list {
      list-style: none;
      padding: 0;
    }

    .app-file-list li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

  <div class="app-json-section">
    <h2>File Names and Content</h2>
    <ul class="app-file-list">
      <%- include('FileList') %> 
    </ul>
  </div>

</body>
</html>
