<!DOCTYPE html>
<html>
<head>
  <title>Read File</title>
</head>
<body>
  <h1>Read a File</h1>
  
  <form method="POST" action="/v1/read">
    <label for="fileName">Select File to Read:</label>
    <select id="fileName" name="fileName" required>
        <% fileNames.forEach(fileName => { %>
            <option value="<%= fileName %>"><%= fileName %></option>
        <% }); %>
    </select>
    <button type="submit">Read File</button>
  </form>
  
  <% if (typeof readError !== 'undefined') { %>
    <p id="readErrorPlaceholder"><%= readError %></p>
  <% } else { %>
    
    <pre id="fileContentPlaceholder"></pre>
  <% } %>

  <script>
    const fileContentPlaceholder = document.getElementById('fileContentPlaceholder');
    const readErrorPlaceholder = document.getElementById('readErrorPlaceholder');

    fileContentPlaceholder.textContent = ''; // Set the file content here
    readErrorPlaceholder.textContent = '';   // Set the read error message here
  </script>
</body>
</html>
